body {
  background: rgb(253, 243, 227);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
h1 {
  /* margin-top: 80px; */
  padding-top: 50px;
}
h2 {
  margin-bottom: 80px;
}

.intro-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* or center if you want vertical centering too */
  width: 100%;
}

.intro-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: fit-content;
}

.intro {
  background-color: rgba(240, 248, 255, 0.8);
  border-radius: 18px;
  margin: 0 auto;
  max-width: 80%;
  height: fit-content;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden; /* hide any overflow */
  /*changer la couleur pour qque chose de plus doux?*/
}

.intro-text {
  text-align: center;
  max-width: 70%;
  padding: 20px;
}

.intro-picture {
  position: absolute;
  bottom: -288px;
  right: -25px; /* Adjust this to overlap nicely */
  z-index: 2;
}

.intro-picture img {
  height: 960px;
  width: 540px;
}

.second-part {
  /* light pastel purple, or any color you want */
  border: 3px solid #b988ab;
  max-width: 80%;
  padding-bottom: 140px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 15px;
}
/*Gallery styling*/
.stack {
  position: relative;
  top: 50px;
  left: 250px;
  width: 300px;
  height: 300px;
  transition: all ease-in-out 0.5s;
  transform: rotate(-20deg);
}
.stack img {
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  border: solid 15px #ffffff;
  border-bottom: solid 90px #fffefe;
}

.cover {
  border: solid 15px #eaeaea;
  border-bottom: solid 90px #eaeaea;
  transition: all ease-in-out 0.5s;
}
.no-show {
  display: none;
}
.under1 {
  transform: rotate(-10deg);
  transition: all ease-in-out 0.5s;
}

.under2 {
  transform: rotate(10deg);
  transition: all ease-in-out 0.5s;
}
.stack:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.stack:hover .under1 {
  transform: rotate(-15deg);
  transition: all ease-in-out 0.5s;
  /* add shadows? */
}

.stack:hover .under2 {
  transform: rotate(15deg);
  transition: all ease-in-out 0.5s;
}

/* The Modal (background) */
.gallery {
  display: none; /* Keep it hidden initially */
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.279);
  transform: translate(-50%, -50%); /* Centering fix */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.gallery-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  position: fixed; /* Ensures it stays in place */
  top: 0;
  left: 0;
}
/* Modal Content */
.gallery-content img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 95%;
  max-height: 95vh;
  /* object-fit: contain; */
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/*Record player styling*/
.record-player p {
  position: relative;
  top: -80px;
  padding-bottom: 10px;
  text-align: center;
}
.turntable-wrapper {
  position: absolute;
  width: 310px;
  height: 280px;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.record-player {
  position: relative;
  top: -140px;
  left: 260px;
}
.turntable {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 310px;
  height: 280px;
  background: #c04273;
  border-radius: 5%;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.893);
}

.record {
  position: absolute;
  left: 20px;
  top: 35px;
  width: 200px;
  height: 200px;
  background: black;
  border-radius: 50%;
}

.record::before {
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 180px;
  height: 180px;
  background: repeating-radial-gradient(
    black,
    black 5px,
    #1c1c1c 6px,
    #1c1c1c 7px
  );
  border-radius: 50%;
}

.overlay {
  content: "";
  left: 20px;
  top: 35px;
  position: absolute;
  width: 200px;
  height: 200px;
  background: linear-gradient(
    45deg,
    transparent,
    40%,
    rgba(255, 255, 255, 0.25),
    60%,
    transparent
  );
  border-radius: 50%;
}

.inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  background: linear-gradient(white, white 50%, #f796a8 50%, #f796a8);
  border-radius: 50%;
}

.inner::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
}

.inner::after {
  content: "Fox Gunn";
  width: 55px;
  text-align: center;
  font-family: sans-serif;
  font-size: 8px;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

.arm-holder {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #b5b6d2;
  border-radius: 50%;
  right: 55px;
  top: 30px;
}

.arm-holder::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: #e1e3fe;
  border-radius: 50%;
}
.arm-wrapper {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 100px;
  height: 120px;
  transform-origin: top;
  transform: rotate(-25deg);
  transition: 1s;
}
.arm {
  position: absolute;
  right: 13px;
  width: 60px;
  top: 10px;
  height: 110px;
  border: 10px solid #ebecff;
  transform: skew(-20deg, -20deg);
  transform-origin: top right;
  border-left-color: transparent;
  border-top-color: transparent;
  border-radius: 0 0 30% 0;
}

.arm::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 30px;
  background: #b5b6d2;
  transform: skew(20deg, 20deg) rotate(75deg);
  top: 98px;
  left: -10px;
  border-radius: 20%;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.slider {
  appearance: none;
  transform: rotate(-90deg);
  width: 130px;
  height: 6px;
  position: absolute;
  right: -40px;
  top: 170px;
  background-color: #ae3563;
  border-radius: 8px;
  border: 6px solid #d65e8c;
  cursor: pointer;
}
::-webkit-slider-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  background-color: #ebecff;
  cursor: pointer;
  border-radius: 50%;
}

.play {
  transform: rotate(0deg);
  transform-origin: top;
  transition: 1s;
}

.end-pic img {
  position: absolute;
  right: 70px;
  top: 1000px;
  max-width: 330px;
  max-height: 330px;
  border: solid 15px #ffffff;
  border-bottom: solid 90px #fffefe;
  transform: rotate(10deg);
}
.end-pic::before,
.end-pic::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 180px;
  background-color: rgba(192, 66, 115, 0.6);
  transform: rotate(40deg);
}
.end-pic::before {
  top: 1020px;
  right: 0px;
  z-index: 2;
}
.end-pic::after {
  top: 1260px;
  right: 330px;
  z-index: 2;
  transform: rotate(30deg);
}
.know-fox {
  background-color: rgba(240, 248, 255, 0.8);
  border-radius: 18px;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 80%;
  height: fit-content;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden; /* hide any overflow */
  /*changer la couleur pour qque chose de plus doux?*/
}

.know-fox p {
  text-align: center;
  max-width: 70%;
  padding: 20px;
}

/*Quote Generator styling*/
button {
  display: block;
  margin: 20px auto;
  background-color: #46367b;
  color: #f0f8ff;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  font-family: Helvetica, Arial, sans-serif;
}

button:hover {
  color: #46367b;
  background-color: rgba(240, 248, 255, 0.4);
  cursor: pointer;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
  width: 50%;
  overflow: hidden;
}

.modal-content p {
  padding: 20px;
  /* max-width: 50%; */
  text-align: center;
  margin: 0;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.quote {
  color: blueviolet;
  /* text-align: center; */
}

.source {
  color: red;
  display: flex;
  justify-content: flex-end;
}

footer {
  background-color: #82b59e;
  margin: 0;
  padding: 0;
}
